<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <form onsubmit="parse()">
            <input type="text" class="form-control" placeholder=" TLV data">
            <input type="submit" class="btn btn-default" value="parse">
            <!--<a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Parse</a>-->
            <!--<button type="submit" class="btn btn-default">Parse</button>-->
            <!--<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>-->
        </form>
    </div>
    <hr>
    <div class="container">

    </div>
</div>


</body>
</html>
