<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
    <hr>
    <div class="container">
        <form action="/tlv" method="GET">
            <input type="text" class="form-control" placeholder="TLV data" name="tlv">
            <button type="submit" class="btn btn-default btn-lg">parse</button>
        </form>
    </div>
    <hr>
</div>


</body>
</html>
