<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<head>
    <% include ../partials/header.ejs %>
    <script language='javascript'>

        function warning(message) {
            $('#alert_placeholder').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
        }

        function formCheck(){
            if($("#tlv").val() === ''){
                warning('Invalid data');
                $("#tlv").focus();
            }else{
                location.href='/decode/'+document.form1.tlv.value;
            }
        }
    </script>
</head>

<body>

<div class="container">
    <hr>
    <div>
        <form name="form1">
            <input type="text" class="form-control" placeholder="TLV data" name="tlv" id="tlv">
            <input type="butoon" class="btn btn-default" value="parse" onclick="javascript:formCheck()">
        </form>
    </div>
    <hr>
    <div id="alert_placeholder">

    </div>
</div>




</body>
</html>
