<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<head>
    <% include ../partials/header.ejs %>
    <script language='javascript'>

        function warning(message) {
            $('#alert_placeholder').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
        }

        function formCheck(){
            if($("#tlv").val() === ''){
                warning('Invalid data');
                $("#tlv").focus();
            }else{
                var value = document.getElementById('tlv').value;
                location.href='/decode/'+value;
            }
        }
        function setValue(value) {
            document.getElementById('tlv').value = value;
        }

    </script>
</head>

<body>

<a href="https://github.com/coolbong/node-tlv-parser"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<div class="container">
    <div class="page-header">
        <h1>EMV TLV decoder</h1>
    </div>
    <div class="input-group input-group-lg">
        <span class="glyphicon glyphicon-credit-card input-group-addon" id="sizing-addon1" ></span>
        <input type="text" class="form-control" placeholder="TLV data" aria-describedby="sizing-addon1" name="tlv" id="tlv">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="javascript:formCheck()">decode</button>
        </span>
        <!--<input type="button" class="btn btn-default" value="parse" onclick="javascript:formCheck()">-->
    </div>
    <hr>
    <div class="list-group" data-toggle="buttons">
        <a href="#" class="list-group-item" onclick="setValue('6F3A8407A0000000041010A52F500A4D6173746572436172649F38069F5C089F4005BF0C179F5E095413339000001513019F5D030101009F4D020B0A')">
            <h4 class="list-group-item-heading">File Control Information (FCI) Template</h4>
            <p class="list-group-item-text">6F3A8407A0000000041010A52F500A4D6173746572436172649F38069F5C089F4005BF0C179F5E095413339000001513019F5D030101009F4D020B0A</p>
        </a>
        <a href="#" class="list-group-item" onclick="setValue('770E8202580094080801010010010301')">
            <h4 class="list-group-item-heading">GET PROCESSING OPTION Response</h4>
            <p class="list-group-item-text">770E8202580094080801010010010301</p>
        </a>
        <a href="#" class="list-group-item" onclick="setValue('70385F24032012315F25030601019F0702FF005A0854133390000015139F0D05F8406420009F0E0500108800009F0F05F86064F8005F28020056')" >
            <h4 class="list-group-item-heading">READ RECORD Response Message Template</h4>
            <p class="list-group-item-text">70385F24032012315F25030601019F0702FF005A0854133390000015139F0D05F8406420009F0E0500108800009F0F05F86064F8005F28020056</p>
        </a>
        <a href="#" class="list-group-item" onclick="setValue('77319F2701409F360211219F26088946B1E6EF434E7D9F101A1110601103220001DAC000000000000000FF00000000000000FF')" >
            <h4 class="list-group-item-heading">GENERATE AC Response</h4>
            <p class="list-group-item-text">77319F2701409F360211219F26088946B1E6EF434E7D9F101A1110601103220001DAC000000000000000FF00000000000000FF</p>
        </a>

    </div>
    <hr>

    <div id="alert_placeholder">

    </div>
</div>




</body>
</html>
