<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
  <hr>
  <div class="result">
    <div class="panel panel-default">
      <div class="panel-heading"><%=tlv.toString()%></div>
      <div class="panel-body">
        <div class="tree">
            <%- include ../partials/tlvdiv %>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>


</body>
</html>
